<div id="page-content">
 <div class="alert alert-success alert-dismissable fade show" role="alert">  <%= notice %>
 <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
    <h1 class="text-center mt-4"><%= @user.username%>`s profile</h1>

    <%# <h1>New Article</h1> %>

    <%= gravatar_for( @user, size: 200) %>
    <%#= render 'form' %>
    <div class= "text-center mt-4">
    <%= link_to 'Edit Your Profile', edit_user_path(@user), class: "btn btn-outline-info" %>
    </div>
    <%= render "articles/article" %>

   

</div>
